@(NO1:Int, NO2:Int, NO3:Int, NO4:Int, name1:String, name2:String, name3:String, name4:String, town1:String, town2:String, town3:String, town4:String )


<html>
    <head>
        <title>Home</title>
    </head>
    <Body>
        <table border = "2">
            <tr>
                <th>Index Number</th>
                <th>Name</th>
		        <th>Home_Town</th>
            </tr>
            <tr>
                <td>@NO1</td>
                <td>@name1</td>
		        <td>@town1</td>
            </tr>
            <tr>
                <td>@NO2</td>
                <td>@name2</td>
                <td>@town2</td>
            </tr>
            <tr>
                <td>@NO3</td>
                <td>@name3</td>
                <td>@town3</td>
            </tr>
            <tr>
                <td>@NO4</td>
                <td>@name4</td>
                <td>@town4</td>
            </tr>
        </table>
    </Body>
</html>
